* {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.size-container,
.alpha-container,
.color-container,
.grid-line-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px;
}

h3 {
    margin-bottom: 10px;
}

.controls {
    display: flex;
    flex: 0;
    width: 160px;
    background-color: aqua;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    border: 2px solid rgb(42, 0, 110);
}

.btn {
    background-color: rgb(141, 96, 41);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    color: wheat;
    border-radius: 10px;
    margin: 10px;
}

.slider {
    width: 80%;
    align-self: center;
}

.slider-text {
    font-size: 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 2px solid red;
    width: 800px;
    height: 800px;
    border: 2px solid rgb(42, 0, 110);
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.4s;
}

.grid-lines {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}