* {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-grid-btn {
    background-color: rgb(141, 96, 41);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: wheat;
    border-radius: 10px;
    margin: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 800px;
    height: 800px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid black;
}